<div class="header-card-category">
  <div class="content"><%= @list.name %></div>
</div>
<div class="container">
  <div class="d-flex justify-content-end">
    <%= link_to "Add a new movie", new_list_bookmark_path, class: "btn btn-primary" %>
  </div>
  <div class="cards">
    <% if @bookmarks.length != 0 %>
      <% @bookmarks.each do |bookmark| %>
        <div class="card-trip">
          <img src=<%= Movie.find(bookmark.movie_id).poster_url %> />
          <div class="card-trip-infos">
            <div>
              <h2><%= Movie.find(bookmark.movie_id).title %></h2>
              <p><%= Movie.find(bookmark.movie_id).overview %></p>
            </div>
              <%= link_to "delete", class: "card-trip-delete" %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="card-category p-4">
        <div class="content">No bookmark added yet</div>
      </div>
    <% end %>
  </div>
</div>
